* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    /*height:600px;*/
    /*background-image: url("./Img/19_mostlysunny.gif");*/
    /*background-repeat: no-repeat;*/
    /*background-position-x: center;*/
    background: rgba(63, 61, 61, 0.24);
    min-height: 900px;
}